// page - main colors
$color-primary: #FFF709;
$color-secondary: #FF0000;

// alza - main colors
$color-alza: #00275b;
$color-sport: #a1c900;
$color-media: #0094e7;
$color-toys: #fd7528;
$color-maxi: #e9242e;
$color-trendy: #c7b276;
$color-hobby: #764510;
$color-automoto: #262F38;
$color-pet: #cb8f10;

// alza - shades of gray
$color-white: #fff;
$color-black: #000;
$color-grey-0: #F8F8F8;
$color-grey-1: #F4F5F5;
$color-grey-blue: #FAFAFC;
$color-grey-3: #E0E0E0;
$color-grey-4: #C6C6C6;
$color-grey-5: #A4A4A4;
$color-grey-6: #212121;

$alza-colors: (
    'alza': #00275b,
    'sport': #a1c900,
    'media': #0094e7,
    'toys': #fd7528,
    'maxi': #e9242e,
    'trendy': #c7b276,
    'hobby': #764510,
    'automoto': #262F38,
    'pet': #cb8f10,
    'white': #fff,
    'grey': #F4F5F5
);