#landingpage{
    .lpHeader{
        padding: 110px 0;
        background: url('https://cdn.alza.cz/Foto/or/lp/log-centra/build/img/background.png') center no-repeat;
        background-size: cover;

        &__contentWrapper{
            max-width: 50%;
            text-align: left;

            .subHdl{
                margin-top: 10px;
            }
        }
    }
}

// layout-0 
.layout-0 #landingpage{
    .lpHeader{
        padding: 80px 0;

        &__contentWrapper{
            max-width: 60%;
        }
    }
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpHeader{
            padding: 80px 0;

            &__contentWrapper{
                max-width: 75%;
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpHeader{
            padding: 50px 0;

            &__contentWrapper{
                max-width: 100%;
            }
        }
    }
}